springdoc:
  api-docs:
    path: /api-docs  # API ?? ?? ??
  swagger-ui:
    path: /swagger-ui.html  # Swagger UI URL
    operationsSorter: method
    tagsSorter: alpha

spring:
  application:
    name: calendar

  datasource:
    url: jdbc:h2:tcp://localhost/~/h2db/calendar;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: trace
  org.springframework.security: DEBUG
